
/**************手机屏幕******************/
@media screen and (max-width: 450px){

}
/****************中小屏幕*****************/
@media (max-width: 767px){
  .navbar .btn-navbar {
    display: block;
  }
  .nav-collapse, .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  .navbar-fixed-top .nav-collapse .nav.pull-right {
    border-top: 1px solid #ddd;
  }
  .navbar .navbar-default {
    height: 41px;
  }
  .navbar > .container .navbar-brand{
    margin-left: 20px;
    padding: 3px 0 0;
  }
  .my-logo {
    display: inline-block;
    width: 95px;
    height: 34px;
    margin-top: 3px;

  }
  .navbar-brand > img {
    height: auto;
    vertical-align: middle;
    border: 0;
  }
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .navbar-collapse {
    width: 100%;
    border-top: 0;
    box-shadow: none;
  }
  .navbar {
    min-height: 41px;
  }
  .navbar-nav {
    margin: 7px -15px;
    border-top: 1px solid #e7e7e7;
  }
  .collapse .navbar-collapse {
    float: right;
  }
  .navbar .nav.pull-right {
    float: right;
    margin-right: 0;
  }
  .nav > li {
    position: relative;
    display: block;
    margin-top: 10px;
  }
  .navbar .nav > li > .dropdown-menu:before{
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin: 0;
    border: 1px solid  #e7e7e7
  }
  .navbar {
    border: 0px ;
  }
  .navbar-nav > li > a {
    padding:4px 10px;
    border-radius: 4px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .navbar .nav-solid .nav > li > a:focus,
  .navbar .nav-solid .nav > li > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    text-shadow: none;
    opacity: 1;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: #f2f2f2;
  }
  .nav-total > li > a.btn:hover,
  .nav-total > li > a.btn:focus {
    color:#fff;
    background-color:transparent;
    border:1px solid #9b9b9b;
    opacity: 1;
  }
  .nav-total > li > a.btn:hover,
  .nav-total > li > a.btn:focus{
    color: #9b9b9b;
  }
  .nav-total > li > a.btn,
  .nav-solid .nav-total > li > a.btn{
    background-color:#fff;
    color:#9b9b9b;
    border:1px solid #9b9b9b;
    text-shadow:none;
    opacity: 0.8;
  }
  .navbar .nav-solid .nav .btn_nav .btn:hover,
  .navbar .nav-solid .nav .btn_nav .btn:focus {
    color: #0088cc;
    background: #fff;
  }
  .navbar-default .navbar-nav > li > a.btn:hover,
  .navbar-default .navbar-nav > li > a.btn:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .btn-success {
    color: #9b9b9b;
    background-color: #f8f8f8;
  }
  .navbar-default .navbar-nav > .active > a.btn:hover,
  .navbar-default .navbar-nav > .active > a.btn:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .navbar .nav .btn_nav .btn {
    border: 0;
    text-align: left;
    background: none;
    opacity: 1;
    color: #9b9b9b;
  }
  .navbar .nav-solid .nav .btn_nav .btn:hover,
  .navbar .nav-solid .nav .btn_nav .btn:focus {
    background: #0088cc;
    border: 0;
    color: #fff;
  }
  .navbar-default .navbar-nav > .language>a,
  .navbar-default .navbar-nav > .language>a:hover,
  .navbar-default .navbar-nav > .language>a:focus,
  .navbar-default .navbar-nav > .active>a.lang
  {
    color: #9b9b9b;
    background: #fff;
  }

  .navbar .nav .language {
    width: 100px;
    display: inline-block;
  }

  .navbar .nav .language > a {
    display: inline-block !important;
    float: none;
    padding: 4px;
    font-weight: normal;
    font-size: 14px;
    color: #9b9b9b;
    background-color: #f8f8f8 ;
  }

  .navbar .nav .language > a:hover {
    text-decoration: none;
  }

  .navbar .nav .language span {
    display: inline-block;
    padding: 4px 1px;
    margin: 0;
  }

}

/************PC屏幕*****************/
@media screen and (min-width: 768px) {
  .container {
    width:100%;
  }
  .navbar .navbar-default {
    height: 41px;
  }
  .navbar > .container .navbar-brand{
    margin:3px 15px 0;

  }
  .my-logo {
    display: inline-block;
    width: 95px;
    height: 34px;
    margin-top: 3px;
  }
  .my-logo > img {
    height: 34px;
  }
  .navbar-brand {
    margin-left: 50px;
    width: 95px;
    height: 34px;
    padding-top: 3px;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 0 1px 0 #ffffff;
  }
  .navbar-brand > a > img {
    max-width: 100%;
    vertical-align: middle;
  }
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .navbar {
    min-height: 41px;
  }
  .navbar .nav {
    padding-top: 7px;
  }
  .collapse .navbar-collapse {
    float: right;
  }
  .navbar .nav.pull-right {
    float: right;
    margin-right: 0;
  }
  .navbar .nav > li {
    float: left;
    margin: 0 5px;
    line-height: 20px;
  }
  .navbar .nav-solid .nav .btn_nav {
    margin-left: 10px;
  }
  .navbar .nav-solid .nav .btn_nav .btn {
    border: 1px solid #9b9b9b;
    color: #9b9b9b;
    opacity: 0.8;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .navbar .nav > li {
    float: left;
  }
  .navbar .nav-solid .nav > li > a {
    color: #9b9b9b;
    opacity: 1;
    text-decoration: none;
    text-shadow: none;
    margin: 0 5px;
    padding: 4px 15px;
    border-radius: 4px;
  }
  .navbar .nav-solid .nav > li > a:focus,
  .navbar .nav-solid .nav > li > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    text-shadow: none;
    opacity: 1;
  }
  .navbar .nav-solid .nav > li.active > a {
    color: #fff;
    opacity: 1;
    text-decoration: none;
    text-shadow: none;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0088cc;
  }
  .navbar .pull-right > li > .dropdown-menu:before,
  .navbar .nav > li > .dropdown-menu.pull-right:before {
    right: 12px;
    left: auto;
  }
  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:active,
  .dropdown-menu li > a:focus {
    background: #0088cc;
    outline: none;
  }
  .nav-total > li > a.btn:hover,
  .nav-total > li > a.btn:focus {
    color:#fff;
    background-color:transparent;
    border:1px solid #9b9b9b;
    opacity: 1;
  }
  .nav-total > li > a.btn:hover,
  .nav-total > li > a.btn:focus{
    color: #9b9b9b;
  }
  .nav-total > li > a.btn,
  .nav-solid .nav-total > li > a.btn{
    background-color:#fff;
    color:#9b9b9b;
    border:1px solid #9b9b9b;
    text-shadow:none;
    opacity: 0.8;
  }
  .nav-solid .nav-total > li > a.btn:hover,
  .nav-solid .nav-total > li > a.btn:focus{
    background-color:transparent;
    color:#0088cc;
    border:1px solid #0088cc;

  }
  .navbar .nav li.btn_nav a.btn {
    border: 1px solid #9b9b9b;
    color: #9b9b9b;
    opacity: 0.8;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .navbar .nav-solid .nav .btn_nav .btn:hover,
  .navbar .nav-solid .nav .btn_nav .btn:focus {
    color: #0088cc;
    border: 1px solid #0088cc;
    background: #fff;
  }
  .navbar-default .navbar-nav > li > a.btn:hover,
  .navbar-default .navbar-nav > li > a.btn:focus {
    color: #0088cc;
    border-color:#0088cc ;
    background-color: #fff;
  }
  .btn-success {
    color: #9b9b9b;
    background-color: #f8f8f8;
  }
  .navbar-default .navbar-nav > .active > a.btn:hover,
  .navbar-default .navbar-nav > .active > a.btn:focus {
    color: #0088cc;
    background-color: #fff;
    border: 1px solid #0088cc;
  }
  .navbar-default .navbar-nav > .language>a,
  .navbar-default .navbar-nav > .language>a:hover,
  .navbar-default .navbar-nav > .language>a:focus,
  .navbar-default .navbar-nav > .active>a.lang
  {
    color: #9b9b9b;
    background: #fff;
  }

  .navbar .nav > li > a {
    display: inline-block;
    float: none;
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 4px;
    transition: 0.25s;
  }
  .navbar .nav-solid .nav .btn_nav .btn:hover,
  .navbar .nav-solid .nav .btn_nav .btn:focus {
    color: #0088cc;
    border: 1px solid rgba(0, 136, 204, 1);
  }
  .navbar .nav-solid .nav .btn_nav .btn {
    border: 1px solid #9b9b9b;
    color: #9b9b9b;
    opacity: 0.8;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .navbar .nav .language {
    width: 100px;
    margin-left: 25px;
    display: inline-block;
  }
  .navbar .nav .language > a {
    display: inline-block !important;
    float: none;
    padding: 4px;
    font-weight: normal;
    font-size: 14px;
    color: #9b9b9b;
    background-color: #f8f8f8 !important;
  }

  .navbar .nav .language > a:hover {
    text-decoration: none;
  }

  .navbar .nav .language span {
    display: inline-block;
    padding: 4px 1px;
    margin: 0;
  }
  /*************轮播图***************/

}